<% content_for :stylesheets do %>
	<%= stylesheet_link_tag "background" %>
<% end %>

<link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>

<div class="title text-center"> Background </div>

<div class="container-fluid" >
	<div class="row">
		<div class="col-xs-6 col-md-1 main left"><</div>
		<div class="col-xs-6 col-md-push-10 col-md-1 main right">></div>

		<div class="col-xs-12 col-md-pull-1 col-md-5 main center1"> 
			<p>Common salt is a mineral composed primarily of sodium chloride (NaCl), a chemical compound belonging to the larger class of salts; salt in its natural form as a crystalline mineral is known as rock salt or halite. Salt is present in vast quantities in seawater.</p>
		</div>
		<div class="col-xs-12 col-md-pull-1 col-md-5 main center1"> 
			<img src="https://lhmrussia.files.wordpress.com/2015/04/nacl.jpg" alt="NaCl" style="width:400px;height:228px;">	
		</div>
	</div>
</div>