<% content_for :stylesheets do %>
	<%= stylesheet_link_tag "student_home" %>
<% end %>

<div class="title text-center"> Welcome, Sam! </div>

<div class="container-fluid"> </div>
	<div class="current-projects col-md-12"> 
		<div cl
	</div>
	<div class="past-projects col-md-12"> 

	</div>
</div>