<% content_for :stylesheets do %>
	<%= stylesheet_link_tag "student_home" %>
<% end %>

<div class="title text-center"> Welcome, Sam! </div>

<div class="container-fluid" >
	<div class="row">


		<div class="col-xs-12 col-md-push-1 col-md-5 main center1"> 
			<a href="/student/landing">
				<div class="current-projects col-md-12"> CLICK HERE TO START PROJECT
			</a>
				</div>
		</div>
		<div class="col-xs-12 col-md-push-1 col-md-5 main center1"> 
			<div class="past-projects col-md-12"> Past Projects
			</div>
		</div>
	</div>
</div>
