<% content_for :stylesheets do %>
	<%= stylesheet_link_tag "student_home" %>
<% end %>

<div class="title text-center"> Welcome, Sam! </div>

<div class="container-fluid" >
	<div class="row">
			<div class="col-xs-6 col-md-1 main left"><</div>
		<a href="/student/landing">
			<div class="col-xs-6 col-md-push-10 col-md-1 main right">></div>
		<a>


		<div class="col-xs-12 col-md-pull-1 col-md-5 main center1"> 
				<div class="current-projects col-md-12"> 
				</div>
		</div>
		<div class="col-xs-12 col-md-pull-1 col-md-5 main center1"> 
			<div class="past-projects col-md-12"> 
			</div>
		</div>
	</div>
</div>
