<% content_for :stylesheets do %>
	<%= stylesheet_link_tag "student_landing_page" %>
<% end %>

	<div class="title text-center"> <!-- Making Salt Crystals --> <%=@project.title %> </div>

<div class="container-fluid" >
	<div class="row">
		<a href="/student/home">
			<div class="col-xs-6 col-md-1 main left"><</div>
		</a>
		<a href="/student/background">
			<div class="col-xs-6 col-md-push-10 col-md-1 main right">></div>
		</a>

		<div class="col-xs-12 col-md-pull-1 col-md-5 main center1">
			<img src="http://www.bigfoto.com/miscellaneous/photos-16/salt-crystals-94jf.jpg" alt="Mountain View" style="width:304px;height:228px;">	
			<p><!-- Have you ever wanted to learn how to make salt crystals on your own? Well here's your chance! --><%=@project.description %></p>
		 </div>
		<div class="col-xs-12 col-md-pull-1 col-md-5 main center1"> 
			<a href="/student/background">
				<div class="navigation">Background</div>
			</a>
			<a href="/student/supplies">
				<div class="navigation">Supplies</div>
			</a>
			<a href="/student/project_step">	
				<div class="navigation">Step 1</div>
			</a>
			<a href="/student/review">
				<div class="navigation">Review/Submit</div>
			</a>
		</div>
	</div>
</div>