<% content_for :stylesheets do %>
	<%= stylesheet_link_tag "nav" %>
<% end %>

<link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>


<div class="title text-center"> Navigation </div>

<a href="/student/background"><div class="navigation text-center">Background</div></a>
<a href="/student/supplies"><div class="navigation text-center">Supplies</div></a>
<a href="/student/project_step"><div class="navigation text-center">Step 1</div></a>
<a href="/student/project_step"><div class="navigation text-center">Step 2</div></a>