<% content_for :stylesheets do %>
	<%= stylesheet_link_tag "not_implemented" %>
<% end %>

<link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>


<div class="title text-center"> Page Coming Soon </div>