<% content_for :stylesheets do %>
	<%= stylesheet_link_tag "background" %>
<% end %>

<div class="container-fluid" >
	<div class="row">
		<a href="student/project_step">
			<div class="col-xs-6 col-md-1 main left"><</div>
		</a>
		<div class="col-xs-6 col-md-push-10 col-md-1 main right">></div>

		<div class="col-xs-12 col-md-pull-1 col-md-5 main center1"> Summary </div>
		<div class="col-xs-12 col-md-pull-1 col-md-5 main center1"> Submit </div>
	</div>
</div>