<% content_for :stylesheets do %>
	<%= stylesheet_link_tag "supplies" %>
<% end %>

<div class="title text-center"> Supplies </div>

<div class="container-fluid" >
	<div class="row">
		<a href="/student/background">
			<div class="col-xs-6 col-md-1 main left"><</div>
		</a>
		<a href="/student/project/1/project_step/1">
			<div class="col-xs-6 col-md-push-10 col-md-1 main right">></div>
		</a>

		<div class="col-xs-12 col-md-pull-1 col-md-10 main center1"> 
			<% @data.each do |data| %>
				<p><!-- Water --><%= data.supply %></p>
				<!-- <p>Salt</p>  -->
			<% end %>
		</div>
	</div>
</div>