<% content_for :stylesheets do %>
	<%= stylesheet_link_tag "supplies" %>
<% end %>

<div class="title text-center"> Supplies </div>

<div class="container-fluid" >
	<div class="row">
		<%= link_to controller: "student", id: @data.first.project_id, action: "background" do %>
			<div class="col-xs-6 col-md-1 main left"><</div>
		<% end %>
		<%= link_to controller: "student", project_id: @data.first.id, action: "project_step", step_number: 1 do %>
			<div class="col-xs-6 col-md-push-10 col-md-1 main right">></div>
		<% end %>

		<div class="col-xs-12 col-md-pull-1 col-md-10 main center1"> 
			<% @data.each do |data| %>
				<p><!-- Water --><%= data.supply %></p>
				<!-- <p>Salt</p>  -->
			<% end %>
		</div>
	</div>
</div>