<% content_for :stylesheets do %>
	<%= stylesheet_link_tag "add_steps" %>
<% end %>

<div class="title text-center"> Add Steps </div>

<div class="container-fluid directional" >
	<div class="row">
		<a href="/teacher/add_supplies">
			<div class="col-xs-6 col-md-1 main left"><</div>
		</a>
		<a href="/teacher/add_steps">
			<div class="col-xs-6 pull-right col-md-1 main right">></div>
		</a>
	</div>
</div>

<div class="container-fluid ">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">


			<label for="ProjectTitle">Enter Title:</label>
			<input type="text" class="form-control" id="ProjectTitle" rows="1" placeholder="Enter First Step Title">
			<label for="Step">Enter First Step:</label>
			<textarea class="form-control" id="Step" rows="4" placeholder="Enter First Step"></textarea>
			<div class="form-group">
    			<!-- <label for="exampleInputFile">File input</label> -->
    			<input type="file" id="exampleInputFile">
    			<p class="help-block">Upload a picture to show on the first step of the project.</p>
  			</div>
  			<div class="space"></div>

  			<label for="ProjectTitle">Enter Title:</label>
			<input type="text" class="form-control" id="ProjectTitle" rows="1" placeholder="Enter Second Step Title">
  			<label for="Step">Enter Second Step:</label>
			<textarea class="form-control" id="Step" rows="4" placeholder="Enter Second Step:"></textarea>
			<div class="form-group">
    			<!-- <label for="exampleInputFile">File input</label> -->
    			<input type="file" id="exampleInputFile">
    			<p class="help-block">Upload a picture to show on the second step of the project.</p>
  			</div>
  			<div class="space"></div>

  			<label for="ProjectTitle">Enter Title:</label>
			<input type="text" class="form-control" id="ProjectTitle" rows="1" placeholder="Enter Third Step Title">
  			<label for="Step">Enter Third Step:</label>
			<textarea class="form-control" id="Step" rows="4" placeholder="Enter Third Step:"></textarea>
			<div class="form-group">
    			<!-- <label for="exampleInputFile">File input</label> -->
    			<input type="file" id="exampleInputFile">
    			<p class="help-block">Upload a picture to show on the third step of the project.</p>
  			</div>
  			<div class="space"></div>

			<a href="/teacher/project_created">
				<button type="button" class="btn btn-default btn-lg">Save changes and continue</button>
			</a>

			<div class="bottom-space"></div>
		</div>
	</div>
</div>