<% content_for :stylesheets do %>
	<%= stylesheet_link_tag "teacher_landing" %>
<% end %>

<div class="title text-center"> Welcome, Filippa! </div>

<div class="container-fluid" >
	<div class="row">


		<div class="col-xs-12 col-md-push-1 col-md-5 main center1"> 
				<div class="current-projects col-md-12"> 
					<a href="/teacher/create_new_project">
						<div class="navigation">Create New Project</div>
					</a>
				</div>
		</div>
		<div class="col-xs-12 col-md-push-1 col-md-5 main center1"> 
			<div class="past-projects col-md-12"> Manage Classes
			</div>
		</div>
	</div>
</div>
