<% content_for :stylesheets do %>
	<%= stylesheet_link_tag "background" %>
<% end %>

<div class="container-fluid" >

	<div class="background-image"></div>

	<div class="center-block my-nav">
		<div class = "box navi">NAV</div>
		<div class = "box qanda">Q/A</div>
		<div class = "box home">HOME</div>
		<div class = "box settings">SETTINGS</div>
		<div class = "box alerts">ALERTS</div>
	</div>

	<div class="title text-center"> Project Perfect </div>

	<div class="vertical-center left"> </div>
	<div class="right"> </div>

</div>
