<!doctype HTML>
<html>

	<head>
		<title> Project Perfect! </title>
		<link type="text/css" rel="stylesheet" href="stylesheet.css"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<div class="background-image"></div>

		<div class="container">
			<div class = "box navi">NAV</div>
			<div class = "box qanda">Q/A</div>
			<div class = "box home">HOME</div>
			<div class = "box settings">SETTINGS</div>
			<div class = "box alerts">ALERTS</div>
		</div>

	</body>
</html>