/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  margin:0px 0px 0px 0px;
  background-color:black;
}

.directional {
  position:fixed;
  width:100%;
}

.left {
  text-align: center;
  vertical-align: middle;
  line-height: 400px; 
  font-size:100px;
}

.right {
  text-align: center;
  vertical-align: middle;
  line-height: 400px; 
  font-size:100px;
}

.title {
  font-size:50px;
  margin:auto;
  /*top: 25%;
  margin-top:-25px;*/
  color:black;
  font-family: 'Sniglet';
  margin-top:20px;
  color:#FFD930;
  font-family: 'Sniglet';
  font-weight: bold;
  margin-bottom: 20px;
}

.my-nav {
  z-index:1000;
  width: 840px;
  margin-top:15px;
}

.teacher-nav {
  z-index:1000;
  width: 655px;
  margin-top:15px;
}

.bottom {
  z-index:998;
  position: fixed;
  width: 100%;
  bottom: -3px;
  height: 120px;
  width: 100%;
  padding-left: 0px!important;
  padding-right: 0px!important;

}

.bottom-background {
  background-image: url("http://trillionforest.com/img/chalkboard-loop1.jpg");
  z-index:-1;
  position:absolute;
  width:100%;
  height:100%;
  overflow:hidden;

  filter: blur(2px);
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  margin: 5px;
}

.box {
  width:150px;
  height:75px;
  border-radius:10px;
  margin:5px;
  display:inline-block;
  background-color:white; 

  text-align: center;
  vertical-align: middle;
  line-height: 75px; 
}

.box:hover {
  background-color:gray;
}

.main {
  height:575px;
  text-align: center;
  vertical-align: middle;
  color: white;
  font-size:25px;
  font-family: 'Sniglet';
  /* the text things here (and also the nav arrows)
  should have their own class! just added this here so you 
  guys could see what I meant for the layout //Filippa */
}

.navigation {
  font-size:35px;
  margin:auto;
  /*top: 25%;
  margin-top:-25px;*/
  color:black;
  font-family:'Sniglet';
  color:white;
  font-family:'Sniglet';
  margin-bottom: 30 px;
}

.background-image {
  margin-top:-20px;
  position: fixed;
  left: 0;
  right: 0;
  z-index: -100;

  display: block;
  background-image: url("http://trillionforest.com/img/chalkboard-loop1.jpg");
  width: 100%;
  height: 100%;
}