

.navigation {
  font-size:35px;
  margin:auto;
  /*top: 25%;
  margin-top:-25px;*/
  color:white;
  font-family:'Ubuntu';
  margin-bottom: 30 px;
}

.form-control {
	font-size:20px;
	color:black;
	margin:auto;
	font-family:'Ubuntu';
}