.form-group {
	color:white;
}
.help-block{
	color:white;
}

.navigation {
  font-size:35px;
  margin:auto;
  /*top: 25%;
  margin-top:-25px;*/
  color:white;
  font-family:'Sniglet';
  margin-bottom: 30 px;
}


