// Place all the styles related to the login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.current-projects {
	height:200px;
}

.past-projects {
	height:200px;
}

.navigation {
  font-size:35px;
  margin:auto;
  /*top: 25%;
  margin-top:-25px;*/
  color:white;
  font-family:'Ubuntu';
  margin-bottom: 30 px;
}