// Place all the styles related to the login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.current-projects {
	height:200px;
}

.past-projects {
	height:200px;
}

.project-box {
  width:300px;
  height:200px;
  border-radius:10px;
  margin:5px;
  display:inline-block;
  background-color:white;
  color:#FFD930; 
  z-index:-10;

  text-align: center;
  vertical-align: middle;
  line-height: 75px; 
}

.space {
  height:10px;
}

.project-button {
  height:100px;
  font-family:'Sniglet';
  font-size:25px!important;
  line-height: 110px;
  vertical-align:middle;
}